@import "tailwindcss";

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.play-again-button{
    @apply transition 
           duration-200 
           hover:bg-red-600 
           hover:text-white
           w-full
           h-[min(10vw,10vh)] 
           bg-white 
           border-white
           font-bold
           text-[min(5vw,5vh)] 
           cursor-pointer 
           mb-2 
           border-2 
           rounded-[min(2vw,2vh)] 
}

.square{
    @apply w-full 
           h-full 
           relative 
           text-[min(20vw,20vh)] 
           rounded-[10%]
           border-1
           border-blue-300
           text-gray-400
}

.blocked-square{
    @apply bg-blue-950 
           cursor-not-allowed
           text-white
}

.available-square{
    @apply bg-blue-900 
           transition
           hover:bg-blue-700 
           hover:text-gray-400
           duration-500
           cursor-pointer
}

.green-square{
    @apply bg-green-500 
           cursor-not-allowed
           text-white
}

.player-text{
    @apply absolute 
           top-1/2 
           left-1/2 
           -translate-y-1/2 
           -translate-x-1/2
}

.game-container{
    @apply grid 
           grid-cols-3 
           gap-[1%] 
           relative 
           h-[min(100vw,80vh)] 
           w-[min(100vw,80vh)]
}
